/*
Estilos da página index.html
*/

.corFundo{
    background-color:#DDD5CE
}

.center {
    text-align: center;
}

.justify{
    text-align: justify;
}

.containerIntroducao{
    text-align: center;
}

.subtituloUm{
    padding: 15px;
    font-size: 18px;
    font-style: italic;
    font-family: sans-serif;
}

.containerSobreSerie{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.p{
    margin-left: 30px;
}

.imagemPersonagens{
    text-align: center;
}

#menu li{
   display: inline;
   padding: 10px;
   font-weight: bold; 
}

#menu li a{
    text-decoration: none;
    color: #6C46FA;
    font-size: 20px;
}

#menu li a:hover{ /* a cor que fica quando o mouse passa em cima da palavra */
    color: #b71540;
}

/* .border{
   border-radius: 50%; 
} */
.wh300{
    width: 300px;
    height: 300px;
}

.footer{
    text-align: center;
}

.tamanhoIcone{
    width: 30px;
    height: 30px;
}

/*
Estilos da página contato.html
*/

.containerContato{

    display: flex;
    flex-flow: row wrap ;
    justify-content: left;
    align-items: center;
    padding: 30px;
    margin: 30px;
}

